QUIC handshake fails

### Problem Description

Trying to connect to a HTTP/3 enabled website fails due to a error while parsing QUIC ClientHello packet.

#### Steps to reproduce the behavior:
1. Start mitmproxy in local mode: `mitmproxy --mode local:firefox`
2. connect to a HTTP/3 enabled website eg. https://cloudflare-quic.com/
3. Handshake fails
`Client QUIC handshake failed. Cannot parse ClientHello: Invalid ClientHello packet: header_parse_error (c10000000108f8d844b966475d6f03913d9b0043b35c9696ab747f5fc7cb7bf94550b51e18418ff6235f45a1617061f7cf82334004d9289d910cd7a5e594ae9410ed3d645aba44000e4336c90fdc10fc51baaf8ae3e23de3bb70c5e28a47f5c67b0e6e7d5707976ddd07664474c0458f34efb0110500aea12a874688f42314a3d5b4daf428f607528a6a0d30ba8450abbe0a63395b0fa96b5a08631b280be12cac0cd3db17105c585e5648dd5b80dec183ac4f164a48a293cbabedfe8dd42111036d66a0bbf7e5e60f928770291880fb79b6285cd691621b2e6c4d7869334b257c7ec45a616f5b8e38a328916f96f7470e9c79315dba4206794ee366026b9fcd0b53aa1d891c3ee0f63688de38692f703dbc48cd070edfa6d9bf3b33ed16b7c6d5de93447f6095d163501283f529861b1162151366c000c00cb5333eab1ac58c0cc4b506ac61034e4b4f831ed3f7098fdfd6e87b31371ceece56d9c656c7ff7fc3b2eebbd093ce2660c1fc99a7a3aea86ab3d4e491c3d1e1d6344e37a1db47ec8147cd7a5dff11a446685cdc4aada13bccb3028697be621f81b27c409f3bcd95a1bf8d8fe5cfee2f56fb3ac0d3148dac3973081f098a3220fe712129b2886c12bed9dffae6c4de5ca74971597f95b80a7f25f6316fb13eb93a80b1e0b54e3ab6e6930b991ff700bd1e932f25260c856edae70846c7302a2258e8232cd27ab755742b7154b08692e89c6266f9d570146a7bdbac4b7ae0124ae916713ef9e54ffa75ed0fd3df9953e4b6b1b18388608ec1b9a29cd14bcabb65fec4100b8a860ad98e518c6c1a703e0a5ebcb1cca6895005c729bc4c1d3a9ee6e5f36a407e28aa88456c57b7bedc376631851940204db31061c6ebbb1e4fe2ed4a161a1d51f1c4f46a30f85ff84c447fdc4ade5851d2a2e65a4934701d71b2502b9b5bcef95a5967f67029d417eeb076bbbe3b261b2c40a3989f412bd3d606afca3a34eb6399ec58afef74371ea9795aa482200879b091683de4759aca4e2d5de3ece919607cc801bd4ba069f0608249b1f5c5819a84a1e4f6bfb1991bf08ac2da6c82ea7c55d5e1b83521b3eccac1edf5314d229be32eea2466727334fe03fdef21f8b46f27777da3f904975e261447852bcce2bc5d1f210146e000c957ab205121c46a953520792a2a18c2d5f5e5096ddc39ef4df4482de22d88c749c8730e564fb8aec7eb358d5004f7a527f5d914cad02b61d059ba1fcce287c1c6af9414bff3217f2227d16662ed630deb171c36d4002d70a7cfe9c872e833190cbe413f922621a6f73ba840c476efd43238b892b7ec0c8e60b5495fe652ac4fafdf99819bc79c3c8d754e47bbb0f9998c4137380000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000)`
4. Also affects reverse-proxy mode i.e. `mitmproxy --mode reverse:https://cloudflare-quic.com/`


### System Information

```raw
mitmproxy --version
Mitmproxy: 13.0.0.dev (+60, commit 38a7ee9)
Python:    3.13.5
OpenSSL:   OpenSSL 3.4.1 11 Feb 2025
Platform:  Windows-11-10.0.26100-SP0
```

### Checklist

- [x] This bug affects the [latest mitmproxy release](https://github.com/mitmproxy/mitmproxy/releases).

This issue occurs because aioquic attempts to read QUIC headers from padding frames and raises which we interpret as a critical error and stop further processing.

I've written a small script to emulate our clienthello parser:

<details>
<summary>script</summary>

```
from aioquic.quic.packet import pull_quic_header
from aioquic.quic.connection import QuicConnection
from aioquic.quic.configuration import QuicConfiguration
from aioquic.quic.logger import QuicLogger
from aioquic.buffer import Buffer as QuicBuffer
import time

data = bytes.fromhex(b'cb0000000108d527ecae372333430342495f0043b03c3fe29b5db8e65cfaee584e357bf2af5fb6ff9fc92fb6513981e31daaa5f50407bcdd59320e7a3e6b2cad1717ad5489cebe894a6bb074989b2665c9e105ac97ce88e5ec40369acead41e665c4e9cf6cc6bd8d060aba732547593510afcb11fe28459ebd23279a0d359cac322926fb473e8e095d0c5f92d8397819d3c5763bfdfa66b1c4232cd1702f616aa9be105ae2301fb268f9eeac732bdb1685e3afa942c0de9b9f227e08728831ab2e96c366e424728bc73f4ac0e2ee4daf5b8bb20eb00df7871f6394adf28345f357479b7068f201f549dd9456afec7ab41df44f2617b37e1d30da62fdf1455815ea3f1c00fe39f1a856772d9ba25088b059465e9a89698ae1192c309909dc1c5286bf452aec531c6fd25b19286316d86601161037d37c5af5c2237b69ba6e807ba07163b6951f690030b7ce319b2c77014776c4195f2eaaf1e117e5dfec6282aefee93f18745a0c378aeb469e45f5fdfc2b57320b35cd8b421952550d2704f3ff60db81cc9ef42f8d75c4c6e0bc4c2f9938e371461705b97691a0dde651a0c40db15e72c567a7c012ad113bd7127b3fc501eef64862002a78be77476061ff47c0ca482c7cffbd3a01171dd23bba86b8c5bf4f74be4d9e0bd45ef64356e279c5914c83ff89585ae3c20f04dce027bbfe31c30e79758b13bb7910a7b7504b10c656b63498b6b4cb6ca21ad99f89c538eed4fb07c3e962345342a5594832cc75086b1416f1c634a77cc21c93a69abedef1eab8ea59a4aff35836e2fd770fc38c4c19d46e2adc6744cd0cfe8bf741e939a3a8897d952f4b7dc33d626e745f8a70b6e53b588c61f814859b43dea6a87dd23f1e0b8b087bf80ff6604edb9107d686cf06ea42ee2d99d098e3a1ed27ab60ba0cfce29c66e6b1f229b022f7215b0c67f4d63351108003bc658d3ce35a69f02ae8a8cc1a18c44186487e086950c43f544481bd017d4efc0f40d8e3be5e05a0594c10ff6f9027f51512a20fa117ccbd438a9ed69a4c0b8ec4ebfeaaf0b588b436976b5a1cd94ab92d00f211b4a7bbd52db02eac4bdd21df2728523342267e1c0b9ad3245d86d2a2d24881ffc11017a41a6eec3ca7f52b58275d1c98cc110ba1cd234afadf9e00f08f2d583d7bb512c39d2ead2fbff9e788e33e74123e9674c6d44c93e17f07087396a68107b0915b5e7438c482e739ad1f42963b7544005685dcff75497b206101de64125f63012f5766998a81aac0501fc7326ad197e5f283386215cdb463a3404aaefec74c888f894f9930a9cfd1aaa9ddd898caebb621e2c70c724931d2f4fac50e69b2ed0e282e69940952cfbf2d9b0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000')
buffer = QuicBuffer(data=data)

header = pull_quic_header(buffer)
print("Datagram size: " + str(len(data)))
print("Packet size (from header): " + str(header.packet_length))
quic = QuicConnection(
        configuration=QuicConfiguration(
            is_client=False,
            certificate="",
            private_key="",
            quic_logger=QuicLogger(),
        ),
        original_destination_connection_id=header.destination_cid,
    )
quic.receive_datagram(data, ("0.0.0.0", 0), now=time.time())
quic_logger = quic._configuration.quic_logger
traces = quic_logger.to_dict().get("traces")
print(traces)
```
</details>

Output:
```
Datagram size: 1252
Packet size (from header): 965
[{'common_fields': {'ODCID': 'd527ecae37233343'}, 'events': [{'data': {'count': 1, 'raw': [{'length': 1260, 'payload_length': 1252}]}, 'name': 'transport:datagrams_received', 'time': 1760823536261.1934}, {'data': {'owner': 'local', 'original_destination_connection_id': 'd527ecae37233343', 'max_idle_timeout': 60000, 'stateless_reset_token': '0314d98e5eca33fc057c02500ed7248b', 'initial_max_data': 1048576, 'initial_max_stream_data_bidi_local': 1048576, 'initial_max_stream_data_bidi_remote': 1048576, 'initial_max_stream_data_uni': 1048576, 'initial_max_streams_bidi': 128, 'initial_max_streams_uni': 128, 'ack_delay_exponent': 3, 'max_ack_delay': 25, 'disable_active_migration': False, 'active_connection_id_limit': 8, 'initial_source_connection_id': '595b75e39dfcb894'}, 'name': 'transport:parameters_set', 'time': 1760823536261.7112}, {'data': {'frames': [{'frame_type': 'crypto', 'length': 395, 'offset': 1442}, {'frame_type': 'crypto', 'length': 523, 'offset': 0}], 'header': {'packet_number': 0, 'packet_type': 'initial', 'dcid': 'd527ecae37233343', 'scid': '42495f'}, 'raw': {'length': 965}}, 'name': 'transport:packet_received', 'time': 1760823536263.5925}, {'data': {'trigger': 'header_parse_error', 'raw': {'length': 287}}, 'name': 'transport:packet_dropped', 'time': 1760823536263.6836}], 'vantage_point': {'name': 'aioquic', 'type': 'server'}}]
```

The packet size header indicate that we have a packet of size 965 bytes but we're receiving a 1252 sized datagram. The remaining 287 bytes is the padding frame added as per [RFC 9000 Section 14.1](https://datatracker.ietf.org/doc/html/rfc9000#section-14.1) (`{'data': {'trigger': 'header_parse_error', 'raw': {'length': 287}}`) which aioquic tries to parse as an entirely new packet here: 
https://github.com/aiortc/aioquic/blob/6d36838d008c2202c337142fa07e8bf80e96bac8/src/aioquic/quic/connection.py#L794-L810

relevant thread: https://github.com/quicwg/base-drafts/issues/3333

cc: @meitinger @mhils 

Ok, so it looks like the aioquic behaviour is intended: https://github.com/aiortc/aioquic/pull/332. (the quickwg thread was really confusing tbh)

> parse the zero paddings as a packet

Should we handle this case or is aioquic supposed to handle this?