Intermediate Certificate not passed even with

### Problem Description

I finally managed to setup mitm-proxy and have it use my intermediate CA. The certiifcate generated is okay, but when opening the website in a browser, I get a warning. 

Inspecting the certificate I see the intermediate CA missing. 


#### Steps to reproduce the behavior:
1. Create a Root CA 
2. Create an Intermediate CA
3. link the pem inside the docker container (Kubernetes in my case)

The CA pem is in the correct format

```
-----BEGIN PRIVATE KEY-----
<private key>
-----END PRIVATE KEY-----
-----BEGIN CERTIFICATE-----
<cert>
-----END CERTIFICATE-----
```

The Root CA is in my trusted Certificate Store and shows all certificates (from other intermediatery cas) as trusted, since they send the intermediate CA. The certificates are generated via cert-manager with the `additionalOutputFormats` set to `CombinedPEM` and `der` whcih automatically creates two additional files, the combined pem (tls-combined.pem in the secret) is used to mount inside the pod.

The setup is not necessary dependant on kubernetes or helm chart usage, as the linking of the certificate works and mitm-proxy uses it to generate. 

Manually adding my intermediate CA to my trusted store, correctly loads the page w/o certificate warning. 

So its 100% not related to the certificates itself, its just missing the intermediate certificate. 

### System Information

```raw
mitm version: 1.12.1 (docker image)
```

### Checklist

- [x] This bug affects the [latest mitmproxy release](https://github.com/mitmproxy/mitmproxy/releases).

Did you read https://docs.mitmproxy.org/dev/concepts/certificates/#using-a-custom-server-certificate?

I'm not using leaf certificates. I am using CA certficate.

I want that the (intermediate) CA certificate is used for every certificate issued by mitm-proxy, hence I used the section below that. 
And it is obvously using it, the certificate is generated and signed with the CA certificate pem. but the certificate is not included in the chain. When I trust the intermediate certig, it shows correctly in the browser. 

And because only root CA is trusted on my clients, but the intermediate CA is not, the certification fails when the intermediate CA is missing. 

It's just that I don't want to add root AND intermediate CA certs to every client. The only reason I created the root CA is so I can setup multiple intermediate CAs für different use cases and clusters and they be trusted w/o installing certificates

Ah, now I understand. You generated an intermediate CA, you want to use that intermediate CA as the root CA of your mitmproxy instance, but mitmproxy is not sending the intermediate as part of the chain?

Have you tried specifying your root CA like this?
```
-----BEGIN PRIVATE KEY-----
<private key: intermediate>
-----END PRIVATE KEY-----
-----BEGIN CERTIFICATE-----
<cert: intermediate>
-----END CERTIFICATE-----
-----BEGIN CERTIFICATE-----
<cert: root>
-----END CERTIFICATE-----
```

Exactly. 

I created the root CA to simplify my cluster, so I only have one Certificate to worry about and issue intermediate certificate for different use cases (internal certificates, external ones, for intercontainer communication).

I tried adding the root CA to the certificate secret in kubernetes and indeed it then shows. 

Still, I don't understand why the intermediate certificate was not included in the connection as it was available earlier, only the root was missing. 

The certificates issued by cert-manager  work exactly same, with   ca cert + private key being in the PEM. When first serving data from traefik it was indeed shown as insecure and when inspecting the certificate the root certificate was missing but the CA certificate was there. As soon as I installed the root certificate on my PC, it worked directly. 

The solution of manually concating the root CA to the intermediate CA PEM is... sub-optimal at best, as it's a manual process and will fail the next time the intermediate certificate gets reissued. 

So, if I understand it correctly, the intermediate certificate is not included because the certificate chain is incompete?
Is there an "--set" options (or could on be added) that could allow/enable incompete certificate chains to be sent?

Then the whole thing could work w/o manually concating and no manual steps necessary on reissue of the intermediate certificates.

I know there is an `ssl_verify_upstream_trusted_confdir` but from what I understand, its only for upstream (server) and has the disadvantage (if I got the issues on here correctly) that it replaces the certificates rather than adding. 

As of now, cert-manager do not automatically include (or [intends to](https://cert-manager.io/docs/usage/certificate/#target-secret)) the root certificate in the intermediate certificate chain (tls-combined.pem secret property). 

> cert-manager intentionally avoids adding root certificates to tls.crt, because they are useless in a situation where TLS is being done securely. For more information, see [RFC 5246 section 7.4.2](https://datatracker.ietf.org/doc/html/rfc5246#section-7.4.2) which contains the following explanation:
> > Because certificate validation requires that root keys be distributed independently, the self-signed certificate that specifies the root certificate authority MAY be omitted from the chain, under the assumption that the remote end must already possess it in order to validate it in any case.

They however do include the intermediate CA to the leaf certificates. If I got their documentation correctly, this is more of an philosophical question, as root certificates are supposed to be preset and trusted at the clients machiens. 

(Please try to keep questions short and structured)

1. For a certificate to be trusted, the client needs to find a valid path from the leaf certificate to a trusted root.
2. In your case, the client only has the root CA (installed on the machine) and the leaf certificate (sent by mitmproxy). The intermediary in the middle missing, so path building fails.
3. The three ways to fix this are
  a. Install the intermediate CA on the client.
  b. Convince mitmproxy to also send the intermediate cert during the handshake to help the client with path building.
  c. Stop using intermediate CAs. Just provide mitmproxy with custom server certs, or let it have its own root CA.

mitmproxy generally assumes that mitmproxy-ca.pem is a root CA and not an intermediate CA. If you want to use a custom intermediate CA as mitmproxy's root CA, then you need to tell mitmproxy that with a PEM file that includes more than one cert. It may be good enough to just include any other certificate, I haven't tested that. But I think the default behavior of not sending over the root CA is perfectly reasonable and here to stay.