Wrong URL displayed for OPTIONS * requests

Launch `mitmproxy`, then use the following Python code to send an OPTIONS * request through the tunnel:

```
import socket, ssl

sock = socket.create_connection(('localhost', 8080))
sock.send(b'CONNECT http2bin.org:443 HTTP/1.1\r\n'
          b'Host: http2bin.org:443\r\n'
          b'User-Agent: demo\r\n'
          b'\r\n')
print(sock.recv(4096))

context = ssl.SSLContext(ssl.PROTOCOL_TLSv1_2)
sock = context.wrap_socket(sock, server_hostname='http2bin.org')
sock.send(b'OPTIONS * HTTP/1.1\r\n'
          b'Host: http2bin.org\r\n'
          b'User-Agent: demo\r\n'
          b'Content-Length: 0\r\n'
          b'\r\n')
print(sock.recv(4096))
```

mitmproxy displays the URL of the request as: `https://http2bin.org*`

The correct URL of the request is `https://http2bin.org` ([RFC 7230 § 5.5](https://tools.ietf.org/html/rfc7230#section-5.5)).

Also, in the inline scripts API, `flow.request.path` returns `*`, although the [docs say](http://docs.mitmproxy.org/en/latest/dev/models.html#netlib.http.Request.path) that it is “guaranteed to start with a slash.” But I think this is a documentation problem.

mitmproxy master, Linux.

Thanks for providing super easy steps to reproduce this! :smiley:
This is tackled in #1123.