Server replay corrupts Date header

##### Steps to reproduce the problem:

1. Start `mitmproxy`.
2. Run a request through it and observe that the `Date` header of the response is correct:

       $ curl -six http://localhost:8080 http://httpbin.org/status/200 | grep Date:
       Date: Thu, 21 Mar 2019 12:45:00 GMT

3. In mitmproxy, start server replay:

       : replay.server @all
       
4. Run a request again and observe that the `Date` header now has `-0000` instead of `GMT`:

       $ curl -six http://localhost:8080 http://httpbin.org/status/200 | grep Date:
       Date: Thu, 21 Mar 2019 12:46:58 -0000


##### Any other comments? What have you tried so far?

Per [RFC 7231 § 7.1.1](https://tools.ietf.org/html/rfc7231#section-7.1.1), a correct HTTP date always has `GMT`.


##### System information

    Mitmproxy: 4.0.4 binary
    Python:    3.6.3
    OpenSSL:   OpenSSL 1.1.0h  27 Mar 2018
    Platform:  Linux-4.15.0-46-generic-x86_64-with-debian-buster-sid


Thanks! The culprit is here somewhere:
https://github.com/mitmproxy/mitmproxy/blob/8353f4a55afeec9d30727d91d642e8b8af4040f8/mitmproxy/addons/serverplayback.py#L182
https://github.com/mitmproxy/mitmproxy/blob/8353f4a55afeec9d30727d91d642e8b8af4040f8/mitmproxy/net/http/response.py#L168

It looks like this is the issue:

https://github.com/mitmproxy/mitmproxy/blob/8353f4a55afeec9d30727d91d642e8b8af4040f8/mitmproxy/net/http/response.py#L189

I submitted a pull request using the usegmt argument for email.utils.formatdate.  

https://github.com/mitmproxy/mitmproxy/pull/3525

https://docs.python.org/3/library/email.utils.html#email.utils.formatdate
https://docs.python.org/2/library/email.utils.html#email.utils.formatdate

> Optional usegmt is a flag that when True, outputs a date string with the timezone as an ascii string GMT, rather than a numeric -0000. This is needed for some protocols (such as HTTP). This only applies when localtime is False. The default is False.
